---
import CodeSnippet from "./CodeSnippet.astro";
type Props = {
  code: string;
  verbose: string;
  ra?: string;
  sql: string;
};

const { code, ra, sql, verbose } = Astro.props;
---

<li>
  <span>{code}</span>
  <q>{verbose}</q>
  {ra ? <CodeSnippet lang="ra" snippet={ra} /> : null}
  <CodeSnippet lang="sql" snippet={sql} />
</li>

<style>
  li::after {
    font-size: 20px;
    line-height: 2rem;
    margin-bottom: 0.4em;
  }

  li::before {
    content: "D" counter(counter);
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    font-weight: 600;
  }
  li::marker {
    content: "";
  }

  q {
    display: block;
  }

  li {
    counter-increment: counter;
    margin-bottom: 2em;
  }
  q::before {
    content: "";
  }

  q::after {
    content: ":";
  }
</style>
